body {
  font-family:Verdana,sans-serif;
  font-size:14px;
}

.container {
  width: 400px;
  margin: 20px auto;
}

h1 {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

ul > li {
  margin-bottom: 15px
}